{% extends 'blog/base.html' %}
{% load static %}
{% block title %} About {% endblock title %}
{% block content  %}

<div class="col-sm-10">
    <h3 class="text-info my-5">About Page</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Iusto optio fugiat reprehenderit quaerat provident fuga pariatur minima
        possimus molestiae soluta modi sapiente at harum delectus,
        aliquam aut dolorum laborum. Perferendis.
    </p>

    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas distinctio facere
        nemo dolores, qui cumque dignissimos in! Magni nesciunt vero voluptatem aut quia beatae,
        consequuntur fugiat id modi deleniti minima corporis officiis voluptatibus, eligendi ducimus!
        Cumque eum similique nihil,
        adipisci error laudantium alias asperiores nostrum incidunt debitis nesciunt esse nobis.

    </p>
</div>

{% endblock content  %}
        